* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: auto;
}

h1 {
  font-size: 3rem;
  padding: 2rem;
  color: rgb(76, 75, 75);
}
h2 {
  font-size: 2rem;
  padding: 2rem;
  color: rgb(88, 88, 88);
}
header > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 20%;
  margin-top: 1rem;
}
nav {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  background-color: black;
}
nav > ul {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
ul li {
  list-style-type: none;
  width: 15%;
}
ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: rgb(16, 165, 16);

  width: 100%;
}

ul li a:hover {
  background-color: black;
  border-radius: 10px;
  font-weight: 800;
  padding: 1rem;
}

main > section:first-child {
  width: 100%;
  padding: 2rem;
}

section {
  display: flex;
  justify-content: center;
  width: 30%;
}

article {
  flex: 1;
  /* border: 0.1rem whitesmoke;
  box-shadow: 0.1rem 0.2rem 0.1rem rgb(202, 202, 202); */
  margin: 1rem;
}
article p {
  padding: 1rem;
}
.dishes {
  display: flex;
  justify-content: center;
}
footer {
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: end;
  margin-top: 1rem;
}

footer .copyright {
  font-size: 1.5rem;
  font-style: italic;
}

footer .logo {
  max-width: fit-content;
}
footer img {
  max-width: 5%;
  height: fit-content;
  text-align: right;
}
